[submodule "projects/perfbook"]
	path = projects/perfbook
	url = git@github.com:pengdonglin137/perfbook_cn.git
[submodule "projects/modern-gpu-programming-for-mlsys"]
	path = projects/modern-gpu-programming-for-mlsys
	url = git@github.com:pengdonglin137/modern-gpu-programming-for-mlsys.git
[submodule "projects/perf-book"]
	path = projects/perf-book
	url = git@github.com:dendibakh/perf-book.git
